.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.game-characters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}

.game-character-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.game-character-image {
  max-height: 36px;
  margin-right: 10px;
}

.game-characters {
  max-width: 80vw;
}

.game-image-container,
.game-image {
  max-width: 80vw;
  max-height: 80vh;
}

.dropdown-characters {
  position: absolute;
  width: 150px;
  z-index: 10;
  background-color: white;
  border-radius: 8px;
}

.dropdown-character-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(150, 150, 150, 0.1);
  padding: 15px
}

.dropdown-character-container:hover {
  background-color: rgba(150, 150, 150, 0.1);
  cursor: pointer;
}

.dropdown-character-image {
  max-height: 20px;
  margin-right: 20px;
}

.dropdown-character-name {
  font-size: 14px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}